* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: .5s;
}

.container {
    background-color: #fff;
    width: 50%;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
}

#color-code {
    font-size: 28px;
}

#btn {
    font-size: 26px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    border-radius: 10px;
}